<div class="sidebar-logo">
    <!-- <div class="welcometxt" style="float: left;"><b style="color: white;">User Dashboard</b></div> -->
    <button class="welcometxt" style="float: left;" (click)="navigateHome()"><i class="fa fa-home"></i> Home</button>
      <b class="sidebar-text" style="color: whitesmoke;"><i class="fa fa-user"></i> Welcome {{loggedUser}}</b>
      <button class="logoutbtn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
  </div>

  <div style="color: maroon; font-weight: bold; font-size: 30px; margin: 2% 10% -1% 40%;"><b>Submit Your Request</b></div>

  <div class="container" id="requestBlood">
    <form #donateForm="ngForm" (ngSubmit)="requestBlood()">
      
      <div class="form-group">
        <label for="patientname">Patient Name: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Enter Patient name" name="patientname" [(ngModel)]="request.name" required 
        #patientname="ngModel"
        [class.is-invalid]="patientname.invalid && patientname.touched">
       <small class="text-danger" [class.d-none]="patientname.valid || patientname.untouched"><b>required field</b></small>
    </div>

    <div class="form-group">
      <label for="patientaddress">Patient Address: <b class="text-danger">*</b></label>
      <input type="text" class="form-control" placeholder="Enter Patient address" name="patientaddress" [(ngModel)]="request.address" required 
      #patientaddress="ngModel"
      [class.is-invalid]="patientaddress.invalid && patientaddress.touched">
     <small class="text-danger" [class.d-none]="patientaddress.valid || patientaddress.untouched"><b>required field</b></small>
  </div>

    <div class="form-group">
      <label for="bloodgroup">Blood Group: <b class="text-danger">*</b></label>
      <select class="form-control" placeholder="Enter blood group" name="bloodgroup" [(ngModel)]="request.bloodGroup" required 
      #bloodgroup="ngModel">
      <option>A+</option>
      <option>A-</option>
      <option>B+</option>
      <option>B-</option>
      <option>AB+</option>
      <option>AB-</option>
      <option>O+</option>
      <option>O-</option>
  </select>
     <small class="text-danger" [class.d-none]="bloodgroup.valid || bloodgroup.untouched"><b>required field</b></small>
  </div>
  
  <div class="form-group">
    <label for="units">Required units: <b class="text-danger">*</b></label>
    <select class="form-control" placeholder="1" id="sel1" name="units" [(ngModel)]="request.quantity"
    #units="ngModel">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
   <small class="text-danger" [class.d-none]="units.valid || units.untouched"><b>required field</b></small>
  </div>

  <div class="form-group">
    <label for="mobile">Mobile Number: <b class="text-danger">*</b></label>
    <input type="tel" class="form-control" placeholder="Enter mobile number" name="mobile" [(ngModel)]="request.phone_num" required 
    #mobile="ngModel"
    [class.is-invalid]="mobile.invalid && mobile.touched">
   <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched"><b>required field</b></small>
  </div>
  <small style="color: gray; font-size: 10px;">Please enter 10 digit valid mobile number</small>
  
  <div class="form-group">
    <label for="gender">Gender: <b class="text-danger">*</b></label>
    <select class="form-control" id="sel1" name="gender" [(ngModel)]="request.gender"
    #gender="ngModel">
        <option selected>Male</option>
        <option>Female</option>
        <option>Others</option>
    </select>
  </div>
  
          <div class="form-group">
              <label for="age">Age: <b class="text-danger">*</b></label>
              <input type="number"class="form-control" name="age" [(ngModel)]="request.age" required 
              #age="ngModel"
              [class.is-invalid]="age.invalid && age.touched" max="50" min="18">
             <small class="text-danger" [class.d-none]="age.valid || age.untouched"><b>required field</b></small>
          </div>
  
      <button [disabled]="donateForm.form.invalid" type="submit" class="btn registerbtn">Save</button>
    </form>
  </div>
  
  <app-footer></app-footer>