<div class="sidebar-logo">
    <!-- <div class="welcometxt" style="float: left;"><b style="color: white;">Blood Request Management</b></div> -->
      <b class="sidebar-text" style="color: whitesmoke;"><i class="fa fa-user"></i> Welcome {{loggedUser}}</b>
      <button class="logoutbtn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
  </div>
  
  <div class="sidebar-container">
      
      <ul class="sidebar-navigation">
        <li>
           <i class="fa fa-plus" aria-hidden="true"></i> <label [routerLink]="['/requestblood']" style="cursor: pointer;">Make Request</label>
        </li>
        <li>
          <i class="fa fa-paper-plane" aria-hidden="true"></i> <label [routerLink]="['/requesthistoryfromuser']" style="cursor: pointer;">Request History</label> 
        </li>
        <!-- <li>
          <i class="fa fa-heart" aria-hidden="true"></i> <label [routerLink]="['/userasdonor']" style="cursor: pointer;">Donate Blood</label> 
        </li> -->
        <li>
          <i class="fa fa-list" aria-hidden="true"></i> <label [routerLink]="['/donorlist']" style="cursor: pointer;">Available Donors</label> 
        </li>
        <!-- <li>
          <i class="fa fa-user" aria-hidden="true"></i> <label [routerLink]="['/userprofile']" style="cursor: pointer;">Edit Profile</label>
        </li> -->
        <li>
            <i class="fa fa-cart-plus" aria-hidden="true"></i> <label [routerLink]="['/bloodStock']" style="cursor: pointer;">Blood stock</label>
        </li>
  
      </ul>
</div>  

<div class="row" style="padding: 15px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center; font-family: 'Oswald', sans-serif;color: maroon; margin-top: 3%; margin-bottom: 3%;">Overall Request History</h2>
    </div>
    <div class="panel-body" style="height: 348px;
    overflow: scroll;">
     <table class="table table-bordered">
      <thead>
        <tr>
          <th>Idendity</th>
          <th>Patient Name</th>
          <th>Mobile</th>
          <!-- <th>Gender</th> -->
          <th>Blood Group</th>
          <th>Required Units</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use ngIf to check if there is data in bloodRequests -->
        <ng-container *ngIf="(bloodRequests | async) as bloodRequestsData; else noDataTemplate">
          <tr *ngFor="let history of bloodRequestsData">
            <td>
              <img *ngIf="history.gender === 'Male' || history.gender === 'male'" class="bloodimg" [src]="'assets/img/male.png'" width="80" height="80">
              <img *ngIf="history.gender === 'Female' || history.gender === 'female'" class="bloodimg" [src]="'assets/img/female.png'" width="80" height="80">
            </td>
            <td>{{history.name}}</td>
            <td>{{history.phone_num}}</td>
            <!-- <td>{{history.gender}}</td> -->
            <td style="color: red; font-size: 25px;">{{history.bloodGroup}}</td>
            <!-- <td>{{history.age}} years</td> -->
            <!-- <td style="color: navy;">{{history.disease}}</td> -->
            <td>{{history.quantity}} units</td>
            <td>
              <ng-template [ngIf]="history.status.toLowerCase() === 'accept'">
                <button (click)="acceptRequest()" class="accepted">Accepted</button>
              </ng-template>
      
              <ng-template [ngIf]="history.status.toLowerCase() === 'pending'">
                <button (click)="pendingRequest(history)" class="pending">Pending</button>
               
              </ng-template>

              <ng-template [ngIf]="history.status.toLowerCase() === 'sent'">
                <button (click)="moreInfo(history)" class="pending">More Info</button>
              </ng-template>
              <!-- <div *ngIf="history.status === 'accept' && loggedUser !== 'admin@gmail.com'" class="accepted">Accepted</div>
              <div *ngIf="history.status === 'false' && loggedUser !== 'admin@gmail.com'" class="pending">Pending</div>
              <div *ngIf="history.status === 'reject' && loggedUser !== 'admin@gmail.com'" class="rejected">Rejected</div> -->
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
    <!-- Show a button when there is no data in bloodRequests -->
    <ng-template #noDataTemplate>
      <tr>
        <td colspan="6">
          <button (click)="navigateToCreateRequest()">Please create a Request</button>
        </td>
      </tr>
    </ng-template>
    
    </div>
  </div>
</div>

<br><br>
<app-footer></app-footer>